/* Container for the CometChat tab component */
.cometchat-tab-component {
  display: flex;
  width: 100%;
  padding: 0px 8px;
  align-items: flex-start;
  gap: 8px;
  border-top: 1px solid var(--cometchat-border-color-light, #f5f5f5); /* Light border on top */
  border-right: 1px solid var(--cometchat-border-color-light, #f5f5f5); /* Light border on right */
  background: var(--cometchat-background-color-01, #fff); /* Background color */
}

/* Individual tab item within the tab component */
.cometchat-tab-component__tab {
  display: flex;
  padding: 12px 0px 10px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px; /* Spacing between icon and text */
  flex: 1 0 0; /* Flexible layout for even spacing */
  min-height: 48px; /* Ensures a minimum height */
}

/* Tab icon styling */
.cometchat-tab-component__tab-icon {
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  background: var(--cometchat-icon-color-secondary); /* Default icon color */
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
  cursor: pointer; /* Pointer cursor for interaction */
}

/* Tab text styling */
.cometchat-tab-component__tab-text {
  color: var(
    --cometchat-text-color-secondary,
    #727272
  ); /* Default text color */
  text-align: center;
  font: var(
    --cometchat-font-caption1-medium,
    500 12px Roboto
  ); /* Font settings */
  cursor: pointer; /* Pointer cursor for interaction */
}

/* Active state for tab icon */
.cometchat-tab-component__tab-icon-active {
  background: var(
    --cometchat-icon-color-highlight
  ); /* Highlight color for active tab */
}

/* Active state for tab text */
.cometchat-tab-component__tab-text-active {
  color: var(
    --cometchat-text-color-highlight
  ); /* Highlight color for active tab text */
}
